<body class="wrapper">
  <h1 class="encabezado"></h1>
  <img src = "../assets/logo.png" class="logo" style="margin: auto auto; max-height: 80%" routerLink="/">

  <h1 class="titulo" style="grid-column: 6 / 8; grid-row: 3;">Login</h1>

  <input placeholder="   Usuario" class="input" style="grid-column: 5 / 9; grid-row: 5;">

  <input placeholder="   Contrasena" class="input" style="grid-column: 5 / 9; grid-row: 6;">

  <button mat-button-stroked color="primary" class="boton_ingresar" style="grid-column: 6/8; grid-row: 7;" routerLink="/home">Ingresar</button>

  <a class="prueba" style="grid-column: 9; grid-row: 1"></a>
  <a class="prueba" style="grid-column: 8; grid-row: 2"></a>
  <a class="prueba" style="grid-column: 7; grid-row: 3"></a>
  <a class="prueba" style="grid-column: 6; grid-row: 4"></a>
  <a class="prueba" style="grid-column: 5; grid-row: 5"></a>


</body>

