<body class="wrapper">
  <a class="encabezado" style="display:flex; text-align:center; ">
    <img src="../assets/logo.png" class="logo" routerLink="/home">
  </a>

  <h1 class="titulo" style="grid-column: 6 / 8; grid-row: 3;">Login</h1>

  <input placeholder="   Usuario" class="input" style="grid-column: 5 / 9; grid-row: 5;">

  <input placeholder="   Contrasena" class="input" style="grid-column: 5 / 9; grid-row: 6;">

  <button mat-button-stroked color="primary" class="boton_ingresar" style="grid-column: 6/8; grid-row: 7;" routerLink="/home">Ingresar</button>


</body>

