/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &.body-custom {
    background-image: url("assets/Background.jpg");
    background-position: top;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
